<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Archetype Created Web Application</display-name>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath*:applicationContext.xml,classpath*:applicationContextWebService.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.wangzhu.listener.MyServletContextListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.wangzhu.listener.MyHttpSessionListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.wangzhu.listener.MyServletRequestListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.wangzhu.listener.MyHttpSessionAttributeListener</listener-class>
  </listener>
  <filter>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>com.wangzhu.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>PageCacheFilter</filter-name>
    <filter-class>com.wangzhu.filter.PageEhCacheFilter</filter-class>
    <init-param>
      <param-name>patterns</param-name>
      <param-value>finalPage.do,addStudent.do</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>PageCacheFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>secondFilter</filter-name>
    <filter-class>com.wangzhu.filter.SecondFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>secondFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>firstFilter</filter-name>
    <filter-class>com.wangzhu.filter.FirstFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>firstFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>CXFServlet</servlet-name>
    <servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CXFServlet</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>springmvc</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>springmvc</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyServlet</display-name>
    <servlet-name>MyServlet</servlet-name>
    <servlet-class>com.wangzhu.servlet.MyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyServlet</servlet-name>
    <url-pattern>/MyServlet</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <!--
  <error-page>
    <error-code>404</error-code>
    <location>/error.jsp</location>
  </error-page>
  -->
  <servlet>
    <description></description>
    <display-name>GrindServlet</display-name>
    <servlet-name>GrindServlet</servlet-name>
    <servlet-class>com.wangzhu.servlet.GrindServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GrindServlet</servlet-name>
    <url-pattern>/GrindServlet</url-pattern>
  </servlet-mapping>
</web-app>